/* Additional styles for the Magento Bootstrap theme */
body {
    /*padding-top: 74px;*/
    /*background-color: #a8adb1;*/
    background: url(../img/bgpattern.gif) repeat;
    background-position: top center;
    background-attachment: fixed;
    font-family: Tahoma;
    padding-top: 50px;
}

ul { list-style: none;}

h6.instantDiscount {
	color:#6200FF;
}

h6.refund {
	color:#EB5E00;
}

.navbar {
	background-color: #fff;
	background-image:none;
	margin-bottom:0px;
}

.navbar-inner {
	background-color: #fff;
	background-image:none;
}

.navbar-inner .container {
	background-color:#fff;
}

.navbar .brand {
	padding: 0;
	padding-left:24px;
	padding-top: 8px;
	padding-bottom:8px;
}

.navbar .nav {
	margin:8px 10px 0 0;
}

.navbar .divider-vertical {
	background-color: #cccccc;
	border-right: 1px solid #cccccc;
	height: 24px;
	margin: 9px 9px;
}

.navbar .nav > li > a {
	font-size: 16px;
	color: #666666;
	text-transform: capitalize;
}

.navbar .nav > li > a:hover {
	color: #4d7094;
}
/*
.navbar .nav > li > a.nav-selected {
	color: #4d7094;
}
*/

#mLang {
	margin-top:16px;
	font-size: 16px;
}

.container {
	/*background-color:#141414;*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -258px;
}

.gutter{
	background: url(../img/building.png) no-repeat;
    background-position:center bottom;
    position:relative;
    width:100%;
    height:258px;
    bottom:0px;
    margin-top: -160px;
    z-index: -1;
}

.container.wbgc {
		background: none;
		background-color:#ffffff;
}

.form-horizontal .controls {
	margin-left:0px;
}

.form-horizontal .control-label {
	text-align: left;
}

.hpSideBar {
	background-color: #f2f2f2;
}

.sideBlock {
	border-bottom: 1px solid #666666;
	padding-left: 20px;
}

.sideBlock h2 {
	font-weight: normal;
	color: #757575;
}

.sideBlockSpacer {
	height:4px;
}

.sep {
	border-top:1px solid #dedede;
	height: 0px;
	width:94%;
}

.sepDark {
	border-top:1px solid #bdbdbd;
	height: 0px;
}

.hpBlocks {
	width:180px;
	height:223px;
	border: 1px solid #cccccc;
	float:left;
	margin-right:25px;
	margin-top: 25px;
	padding: 10px;
}

.hpBlocks img {
	padding:0;margin:0;
	border: none;
}

.hpBlockSmallLog {
	border-right: 1px solid #cccccc;
	float:left;
	width:49%;
	/*padding-top:20px;*/
	height:74px;
}

.hpBlockSmallLog img {
	padding:0;margin:0;
	border: none;
}

.hpBlockText {
	float:right;
	width:40%;
	padding-left: 5px;
}

footer {
	padding-top: 20px;
	color: silver;
	min-height: 160px;
}

.footerLinks {
	width:350px;
	float: right;
}

.footerLinks a {
	color: silver;
}
.outletProfile-Background {
	background-image:url('/themes/xc_theme/img/outlet-profile-en.png');
	height:170px;
	background-repeat: no-repeat;
}
.outletProfile-PrivilegeDescription{
	padding-left: 200px;
/* 	padding-left: 225px; */
	padding-top: 45px;
	font-size: medium;
	width: 400px;
	line-height: 48px;
	position: absolute;
}
.outletProfile-PrivilegeValue{
	padding-left: 65px;
	font-size: 40px;
	padding-top: 78px;
}
.refund{
	color: #02BCE1;
}
.instantDiscount{
	color: #0269A9;	
}