.jq_start_link_container {
	float:right;
	margin-right:10px;
	background:url(images/button-next.gif);
	cursor:pointer;
	height:32px !important;
	width:32px;
	background-repeat:no-repeat;
	background-position:0px 0px;
	overflow:hidden;
}
.jq_continue_link_container,
.jq_next_link_container{
	float:right;
	margin-left:10px;
	background:url(images/button-next.gif);
	cursor:pointer;
	height:32px !important;
	width:32px;
	background-repeat:no-repeat;
	/*margin-top:-11px;*/
	background-position:0px 0px;
	padding:0px;
	overflow:hidden;
}
.jq_start_link_container:hover,
.jq_continue_link_container:hover,
.jq_next_link_container:hover{
	background-position:0px -32px;
}
.jq_time_tick_container{
	width:70px;
	height:35px;
	right:0;
	top:10px;
	position:absolute;
	color:#B03030;
	font-size:14px;
}
.pq_footer{
	height:48px;
	overflow:hidden;
	width:100%;
}
.pq_main_container{
	padding:5px;
	margin:5px 0px;
	border:1px solid #AAA;
	position:relative;
	font-family:Arial;
	overflow:visible;
}
.pq_header{
	font-size:14px;
	color:#757A83;
	margin:5px;
	border-bottom:1px solid #757A83;
	padding-bottom:5px;
}
.pq_header_quest{
	font-size:12px;
	color:#757A83;
	font-weight:bold;
	font-style:italic;
	margin:5px;
}
.pq_mess{
	margin:auto auto;
}
.pq_cont{
	height:auto;
	min-height:150px;
	font-style:italic;
	font-size:12px;
	color:#757A83;
	padding:7px 15px 40px 15px;

}
.pq_cont form{
	display:block;
	overflow:hidden;
	
}
.pq_slidebar{
	border-radius:7px; 
	-moz-border-radius:7px; 
	-webkit-border-radius:7px; 
	border:1px solid #cccccc;
	background-color:#eee;
	height:8px;
	margin-top:11px;
	overflow:hidden;
	display:none;
}
.pq_slidebar_inner{
	background-color:#55e3f8;
	height:8px;
	margin-right:100%;
	
}
.pq_back_button{
	display:none;
	float:left;
	margin-right:10px;
	background:url(images/button-back.gif);
	cursor:pointer;
	height:32px;
	width:32px;
	background-repeat:no-repeat;
	background-position:0px 0px;
	/*margin-top:-11px;*/
}
.pq_back_button:hover{
	background-position:0px -32px;
}
.error_messagebox{


	visibility:hidden;
}
.qdata_div{
	
	background-position:center left;
	background-repeat:no-repeat;
	font-size:14px;
	
	border-bottom:1px solid #aaa;
	margin-bottom:5px;
	font-style:normal;
	margin:5px 15px;
}
.pqmess_div{
	background:url(images/attention-icon-small.gif);
	background-position:20px 0px;
	background-repeat:no-repeat;
	min-height:30px;
	padding:7px 70px;
	color:#F80008;
	font-size:12px;
	/*border-radius:3px; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border:1px solid #AA4444;*/
	margin-bottom:5px;
}
.div_answr{
	font-size:9px;
	font-style:normal;
	margin:5px 25px;
	overflow:hidden;
}

.pq_back_button a, .jq_quiz_task_link_container a{
	display:block;
	width:32px;
	height:32px;
}
.pq_listqui li{
	float:left;
	width:170px;
	padding:5px;
	display:block;
}
.pq_listqui li span{
	color:#F80008;
}
.pq_listqui{
	overflow:hidden;
	display:block;
}

.msg_loading{
	text-align:center;
	margin-top:25px;
}
.quest_pos{
	font-size:12px;
}